
.createRootCont{
    height:100%;
    width:100%;
}

.createContainer{
    margin: 15px 0;
    background-color:#fefefe;
    font-family: "Noto Sans", sans-serif;
    padding: 14px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px;
    height:120vh;
}