.tabsContainer {
  width: "100%";
  border-radius: 16px;
  border: 1px solid var(--stroke, #79797952);
  display: flex;
  flex-direction: row;
  padding: 6px;
  justify-content: space-around;
}

.tabButton {
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  border-radius: 8px;
  margin-right: 1px;
}

.tabButtonSelected {
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  border-radius: 8px;
  background: var(--light, #c4eae6ba);
  box-shadow: 0px 0px 4px 2px rgba(142, 137, 144, 0.08) inset;
  margin-right: 1px;
}

.textLight {
  color: var(--B-W, #a3a2a2);
  text-align: center;
  font-size: 0.9rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}

.textDark {
  color: #fefefe;
  text-align: center;
  font-size: 0.9rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}

.selectedText {
  color: #57c5b6;
  text-align: center;
  font-size: 0.9rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}
